@import "colors";
@import "media";

.header {
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;


    &-title {
        font-size: 3rem;
        text-transform: uppercase;
    }

    &-subtitle {
        font-size: 2rem;
    }
}

.navbar {

    &-link {
        text-decoration: none;
        color: $font-color;
        margin: 1rem;
        padding: 3px;
        font-size: 2rem;

        @include sm-md {
            display:flex;
            flex-direction: column;
            align-items: center;
        }

        &-active {
            text-decoration: underline;
        }

        &:hover,
        &:visited:hover {
            border: 1px solid $font-color;
        }

        &:visited {
            text-decoration: none;
        }
    }
}
