@import "colors";

.recipecard {
    display: grid;
    margin: 1rem;
    padding: 2rem;
    grid-template-rows: min-content repeat(14, min-content);
    grid-template-columns: repeat(4, 1fr);
    background-color: $color-secondary;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;

    & > * {
        padding: 1rem;
    }

    &-header {
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        grid-column: span 4;
        grid-row: 1;
        text-decoration: underline;
    }

    &-description {
        grid-column: 3 / -1;
        grid-row: 2;
    }

    &-difficulty {
        grid-column: 3 / -1;
        grid-row: 4;
    }

    &-person {
        grid-column: 3 / -1;
        grid-row: 6;
    }

    &-time {
        grid-column: 3 / -1;
        grid-row: 8;
    }

    &-steps {
        grid-column: span 4;
        grid-row: 13;
    }

    &-ingredients {
        grid-column: 3 / -1;
        grid-row: 10;
    }

    &-btn {

        padding: 1rem;
        border: 1px solid black;
        background-color: $color-primary;
        color: $font-color;
        cursor: pointer;

        &--sup {
            grid-row: 14;
            grid-column: 3 / span 2;
        }

        &--edition {
            grid-row: 14;
            grid-column: 1 / span 2;
        }
    }

    &-photo {
        grid-row: 2 / span 10;
        grid-column: span 2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}